<div class="accordion">

<!--

- Physician Assistant Profession FAQ
- Educational Philosophy & Program Design FAQ
- Admissions FAQ
- Post Acceptance Requirements FAQ

-->

<ul>
	
<li><span style="font-size:110%;color:#d5b2fe;background-color:#ffffff;border-radius:.2rem; border-style:solid;border-width:thin;border-color:#e7d1ff;padding:1px 7px 0px 8px;">?</span>&nbsp;&nbsp;


Length of the program?

</li>
		
<li style="font-size:90%">

Eight consecutive semesters spanning 31 months.

</li>

<li><span style="font-size:110%;color:#b0b0b0;background-color:#ffffff;border-radius:.2rem; border-style:solid;border-width:1px;border-color:#dbdbdb;padding:1px 7px 0px 8px;">?</span>&nbsp;&nbsp;

Degree to be rewarded?

</li>

<li style="font-size:90%">

Upon successful completion of the Rocky Mountain University of Health Professions Physician Assistant Program (RMUoHP-PAP), students will be awarded a Master of Physician Assistant Studies (MPAS) degree.

</li>

<li><span style="font-size:110%;color:#d5b2fe;background-color:#ffffff;border-radius:.2rem; border-style:solid;border-width:thin;border-color:#e7d1ff;padding:1px 7px 0px 8px;">?</span>&nbsp;&nbsp;

Advanced placement?

</li>
		
<li style="font-size:90%">

{% include advanced-placement.md %}

</li>

<li><span style="font-size:110%;color:#b0b0b0;background-color:#ffffff;border-radius:.2rem; border-style:solid;border-width:1px;border-color:#dbdbdb;padding:1px 7px 0px 8px;">?</span>&nbsp;&nbsp;

Drug screening?

</li>

<li style="font-size:90%">

Drug screening will be performed on all students during at the didactic period prior to the onset of the first phase of full-time clinical learning experiences and then may be repeated one or more times thereafter at unpredictable times.

</li>

<li><span style="font-size:110%;color:#d5b2fe;background-color:#ffffff;border-radius:.2rem; border-style:solid;border-width:thin;border-color:#e7d1ff;padding:1px 7px 0px 8px;">?</span>&nbsp;&nbsp;

Seats available for each class?

</li>
		
<li style="font-size:90%">

Our goal is to seat 46 students for the inaugural class and 50 students for each class annually thereafter. However, we will only seat as many as  we feel confident we can accommodate with strong clinical rotations.

</li>

<li><span style="font-size:110%;color:#b0b0b0;background-color:#ffffff;border-radius:.2rem; border-style:solid;border-width:1px;border-color:#dbdbdb;padding:1px 7px 0px 8px;">?</span>&nbsp;&nbsp;

Prereqs before applying?  

</li>

<li style="font-size:90%">

No. However, as described on the Prerequisite Courses page, those applicants who have outstanding prerequisite coursework at the time of application must have a feasible plan documented for completing remaining prerequisites prior to the program start date. 

Furthermore, applicants offered seats contingent upon successful completion of outstanding prerequisites must complete each remaining course with a grade of “B” or better.

</li>

<li><span style="font-size:110%;color:#d5b2fe;background-color:#ffffff;border-radius:.2rem; border-style:solid;border-width:thin;border-color:#e7d1ff;padding:1px 7px 0px 8px;">?</span>&nbsp;&nbsp;

Question

</li>
		
<li style="font-size:90%">

Answer

</li>

<li><span style="font-size:110%;color:#b0b0b0;background-color:#ffffff;border-radius:.2rem; border-style:solid;border-width:1px;border-color:#dbdbdb;padding:1px 7px 0px 8px;">?</span>&nbsp;&nbsp;

Question

</li>

<li style="font-size:90%">

Answer

</li>



</ul>

 