<li><a href="/core-values">Core Values</a><br></li>
<li><a href="/blog">Program Blog</a><br></li>
<li><a href="/accreditation">Accreditation Info</a><br></li>
<li><a href="/mission-vision-goals">Mission-Vision-Goals</a></li>
<!-- <li><a href="/program-outcomes">Program Outcomes</a></li> -->
<!-- <li><a href="/curriculum">Curriculum</a></li> -->
<li><a href="/admissions">Admissions</a></li>
	<span class="sidebar-nav-submenu-item-highlights"><a href="/coming-soon">➘ Program Highlights</a></span>
	<span class="sidebar-nav-submenu-item"><a href="/admissions/prerequisite-courses">➘ Prerequisite Courses</a></span>
	<span class="sidebar-nav-submenu-item"><a href="/admissions/application-requirements">➘ Application Requirements</a></span>
	<span class="sidebar-nav-submenu-item"><a href="/admissions/frequently-asked-questions">➘ Frequently Asked ?<span style="text-transform: lowercase">s</a></span>	
	<span class="sidebar-nav-submenu-item"><a href="/admissions/rmuohp-pap-information-group">➘ Information Web Group</a></span>


	<!--   
	<span class="sidebar-nav-submenu-item"><a href="/admissions/application-analysis">Application Analysis</a></span>
	<span class="sidebar-nav-submenu-item"><a href="/admissions/interview-process">Interview Process</a></span>
	<span class="sidebar-nav-submenu-item"><a href="/admissions/post-acceptance-requirements">Post-Acceptance Requirements</a></span>
	<span class="sidebar-nav-submenu-item"><a href="/admissions/program-costs">Program Costs</a></span> 
	-->

<!--

//	Additional Options for Pages
// 	<li><a href="/"></a>About the Profession</li>
// 	<li><a href="/"></a>Career Opportunities</li>
// 	<li><a href="/"></a>Academic Calendar</li>
// 	<li><a href="/"></a>Helpful Links</li>
// 	<li><a href="/"></a>Financial Aid</li>
// 	<li><a href="/"></a>Faculty & Staff</li>
// 	<li><a href="/"></a></li>
// 	<li><a href="/"></a></li>

-->