<!-- <span style="font-size:80%;vertical-align:top;margin-right:4px;">💼</span> --><a href="/accreditation">Accreditation</a> ﹘ <!-- <span style="font-size:80%;vertical-align:top;margin-right:4px;">💠</span> --><a href="/core-values">Core Values</a> ﹘ <!-- <span style="font-size:80%;vertical-align:top;margin-right:4px;">📰</span> --><a href="/blog">Blog</a> ﹘ <!-- <span style="font-size:70%;vertical-align:top;margin-right:4px;">🏆</span> --><a href="/mission-vision-goals">Mission-Vision-Goals</a> ﹘ <!-- <span style="font-size:80%;vertical-align:top;margin-right:4px;">🎆</span> --><a href="/coming-soon">Program Highlights</a> ﹘ <br/><!-- <span style="font-size:80%;vertical-align:top;margin-right:4px;">📝</span> --><a href="/admissions">Admissions<span style="font-size:70%; margin-left:5px;">➘</span></a></li>
<!-- <li><a href="/blog">Program Blog</a><br></li>
<li><a href="/accreditation">Accreditation</a><br></li>
<li><a href="/mission-vision-goals">Mission-Vision-Goals</a></li> -->
<!-- <li><a href="/program-outcomes">Program Outcomes</a></li> -->
<!-- <li><a href="/curriculum">Curriculum</a></li> -->
<!-- <li><a href="/admissions">Admissions</a></li> -->
	<span class="sidebar-nav-submenu-item"><a href="/admissions/prerequisite-courses"><span style="font-size:80%; margin-left:5px;margin-right:3px;">➘</span><!-- <span style="font-size:80%; margin-right:3px;">🎒</span> -->Prerequisite Courses</a> <a href="/admissions/application-requirements"><span style="font-size:80%; margin-left:5px;margin-right:3px;">➘</span><!-- <span style="font-size:80%; margin-right:3px;">✅</span> -->Application Requirements</a></span>

	<!--   
	<span class="sidebar-nav-submenu-item"><a href="/admissions/application-analysis">Application Analysis</a></span>
	<span class="sidebar-nav-submenu-item"><a href="/admissions/interview-process">Interview Process</a></span>
	<span class="sidebar-nav-submenu-item"><a href="/admissions/post-acceptance-requirements">Post-Acceptance Requirements</a></span>
	<span class="sidebar-nav-submenu-item"><a href="/admissions/program-costs">Program Costs</a></span> 
	-->

<li><!-- <span style="font-size:80%;vertical-align:top;margin-right:4px;">🙋</span> --><a href="/admissions/frequently-asked-questions">FAQ<span style="text-transform: lowercase">s</a> ﹘ <!-- <span style="font-size:80%;vertical-align:top;margin-right:4px;">💬</span> --><a href="/admissions/rmuohp-pap-information-group">Information Web Group</a> ﹘ <!-- <span style="font-size:80%;vertical-align:top;margin-right:4px;">🚧</span> --><a href="/website-roadmap">Website Roadmap</a> ﹘ <!-- <span style="font-size:80%;vertical-align:top;margin-right:4px;">📢</span> --><a href="/information/promotional-resources">Promotional Resources</a></li>


<!--

//	Additional Options for Pages
// 	<li><a href="/"></a>About the Profession</li>
// 	<li><a href="/"></a>Career Opportunities</li>

-->