<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <center>
      	<img src="/assets/images/rmutransparent.png">
      	<p style="font-family: Copperplate, sans-serif;color:#ffffff;font-size:70%;line-height:90%;">Rocky Mountain University<br/>― of Health Professions ―<br/>Physician Assistant Program</p>
      </center>
      <p class="lead">{{ site.description }}</p>
    </div>
    <hr class="hr-sidebar">
    <div>
      <ul class="sidebar-nav">
        <li class="sidebar-nav-item{% if page.title == "RMUPAP Home" %} active{% endif %}"><a href="/">Home</a></li>
        {% include navigation-menu.html %}
      </ul>
    </div>
  </div>
</div>